.back-color {
  /* background: radial-gradient(
    circle at top right,
    #09c58d,
    #0970c5,
    #2ed0e5,
    #6dddbc
  ); */
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #ffe20345 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #ff000000 64%, #71ade0ff 100%),
    repeating-radial-gradient(
      142% 91% at 83% 7%,
      #90afc4ff 0%,
      #00a2ffff 1%,
      #f1404000 99%
    ),
    conic-gradient(from 37deg at -6% 74%, #c0ffe5ff 1%, #87f8ffff 99%),
    radial-gradient(
      142% 91% at 111% 84%,
      #a8f3eeff 0%,
      #4f63b7ff 78%,
      #a8f3eeff 100%
    );
}
.min-height-65 {
  height: 65vh;
}
.input-label {
  font-size: 1rem;
}
.input-text {
  border: 0;
  width: 100%;
  border-bottom: 1px solid rgb(142, 212, 253);
  padding: 0.4rem 0.5rem;
}
.input-text::placeholder {
  font-size: 0.8rem;
  color: rgb(161, 156, 156);
}
.input-text:focus {
  outline: none;
  box-shadow: 0;
  border: 0;
  border-bottom: 2px solid rgb(35, 162, 212);
}
.green-gradient {
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #45cfa6,
    #0970c5,
    #2ed0e5,
    #6dddbc
  ); /* Gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent;
}
.error {
  font-size: 0.8rem;
  color: rgb(240, 68, 68);
}
.text-danger{
  font-size: 0.8rem;
}
.submit-btn {
  font-size: 0.9rem;
  border: 0;
  color: white;
  width: 100%;
  font-weight: 500;
  padding: 0.4rem 1rem;
  background: linear-gradient(to right bottom, #0970c5, #2ed0e5, #6dddbc);
}
.normal-btn {
  font-size: 0.9rem;
  border: 0;
  color: white;
  font-weight: 500;
  padding: 0.4rem 1rem;
  background: linear-gradient(to right bottom, #0970c5, #007cc4, #6da7dd);
}
.update-btn {
  font-size: 0.9rem;
  border: 0;
  color: rgb(4, 117, 170);
  font-weight: 500;
  padding: 0.4rem 1rem;
  background-color: #e0eeff;
  border-radius: 1rem;
}
.delete-btn {
  font-size: 0.9rem;
  border: 0;
  color: rgb(180, 30, 37);
  font-weight: 500;
  padding: 0.4rem 1rem;
  background-color: #ffeeef;
  border-radius: 1rem;
}
.table-header-bg {
  background-color: #0970c5;
}
.table th {
  background: linear-gradient(to bottom, #0970c5, #007cc4, #6da7dd);
  color: white; /* Ensure text is visible */
}

th {
  background-color: #e0eeff;
}
.navigation {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  p {
    margin-bottom: 0;
  }
  .anchor {
    color: rgb(0, 132, 255);
    text-decoration: none;
  }
}
.bg-custom {
  background: linear-gradient(
    to right bottom,
    rgb(238, 238, 248),
    rgb(245, 248, 255)
  );
}
td {
  text-transform: capitalize;
  
}
.dropdown {
  background-color: white;
  label {
    font-size: 0.8rem;
  }
  select {
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
  }
  option {
    background-color: rgb(255, 255, 255);
  }
}
/* Style for the pagination container */
.pagination-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination-container .disabled a {
  text-decoration: none;
  color: grey;
}
a {
  color: #0970c5;
}
.pagination .pagination-container li a {
  text-decoration: none;
  font-size: 0.8rem;
}

.pagination .pagination-container li {
  margin: 0 2px;
  padding: 0.3rem 0.7rem;
}

.pagination-container button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #007bff;
}

.pagination-container button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  color: #ccc;
}

.active-page {
  background-color: #0970c5;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
}

.active-page button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-color: #007bff;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #f0f0f0;
}


.fw-bold{
  color:rgb(66, 66, 66);
  font-size: 0.9rem;
}